<section class="hero">
  <div class="columns">
    <div class="column is-narrow">
      <img src="assets/smarbico-logo.png" style="height: 150px"/>
    </div>
    <div class="column" style="margin-top: auto; margin-bottom: 0;">
      <nav class="navbar is-transparent">
        <div class="navbar-brand">
          <div class="navbar-burger burger" data-target="navbarSmarbico">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="navbarSmarbico" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" routerLink="/start">
              Start
            </a>
            <a class="navbar-item" routerLink="/new-contract">
              New Contract
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
